logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map


/public/tmp/html2article/*.png
/public/tmp/html2article/*.jpg
/public/tmp/html2article/*.html
/public/tmp/card/*.html
/public/tmp/card/*.png
/public/tmp/card/*.jpg
/public/tmp/qrcode/*.jpg
/public/tmp/qrcode/*.png
/public/tmp/qrcode/*.html
